.main {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  min-height: 100vh;
  background-color: #ececec;
  /* text-align: center; */
}
